<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="activity" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="datePattern" value="'.'yyyyMMdd"/>
        <param name="File" value="${CORE_LOG_FILE}"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p (%t) [%c{1}:%L] - %m%n"/>
        </layout>
    </appender>
    <appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %m%n"/>
        </layout>
    </appender>
    <appender name="debuglog" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="datePattern" value="'.'yyyyMMdd"/>
        <param name="File" value="${CORE_LOG_FILE}-debug"/>
        <layout class="org.apache.log4j.PatternLayout"/>
    </appender>
    <appender name="pricinglog" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="datePattern" value="'.'yyyyMMdd"/>
        <param name="File" value="${CORE_LOG_FILE}-pricing"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p (%t) [%c{1}:%L] - %m%n"/>
        </layout>
    </appender>
    <logger name="debuglog" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="debuglog"/>
    </logger>
    <logger name="pricinglog" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="pricinglog"/>
    </logger>
    <logger name="profileLogger">
        <level value="INFO"/>
        <appender-ref ref="consoleAppender"/>
    </logger>
    <root>
        <level value="INFO"/>
        <appender-ref ref="activity"/>
        <appender-ref ref="consoleAppender"/>
    </root>
    <logger name="Metric">
        <level value="ERROR"/>
        <appender-ref ref="consoleAppender"/>
    </logger>
    <logger name="com.shc.ecom.gb.client">
        <level value="OFF"/>
        <appender-ref ref="consoleAppender"/>
    </logger>
    <logger name="com.shc.ecom.ndd.client">
        <level value="OFF"/>
        <appender-ref ref="consoleAppender"/>
    </logger>
    <logger name="com.shc.ecom.wxs.common.loaders">
        <level value="OFF"/>
        <appender-ref ref="consoleAppender"/>
    </logger>
    <logger name="com.shc.ecom.wxs.api">
        <level value="OFF"/>
        <appender-ref ref="consoleAppender"/>
    </logger>
    <logger name="com.shc.ecom.rsa">
        <level value="OFF"/>
        <appender-ref ref="consoleAppender"/>
    </logger>
    <logger name="httpclient.wire">
        <level value="OFF"/>
        <appender-ref ref="consoleAppender"/>
    </logger>
    <logger name="com.shc.ecom.price">
        <level value="OFF"/>
        <appender-ref ref="consoleAppender"/>
    </logger>
    <logger name="com.shc.ecom.parser">
        <level value="OFF"/>
        <appender-ref ref="consoleAppender"/>
    </logger>
    <logger name="org.apache.kafka">
        <level value="OFF"/>
        <appender-ref ref="consoleAppender"/>
    </logger>
</log4j:configuration>